<form [formGroup]="inviteFormData" (ngSubmit)="sendForm()">
    <mat-form-field class="d-block w-100">
        <input matInput type="text" placeholder="Namn" name="name" formControlName="name">
    </mat-form-field>
    <div class="text-error" *ngIf="(submited || inviteFormData.controls.name.touched) && inviteFormData.controls.name.errors">
        <div *ngIf="inviteFormData.controls.name.errors.required">
            <small>Ett namn måste fyllas i</small>
        </div>
        <div *ngIf="!inviteFormData.controls.name.errors.required && inviteFormData.controls.name.errors.minlength">
            <small>Namnet måste vara minst {{inviteFormData.controls.name.errors.minlength.requiredLength}} tecken långt</small>
        </div>
        <div *ngIf="!inviteFormData.controls.name.errors.required && inviteFormData.controls.name.errors.maxlength">
            <small>Namnet får vara max {{inviteFormData.controls.name.errors.maxlength.requiredLength}} tecken långt</small>
        </div>
    </div>
    <mat-form-field class="d-block w-100 mt-10">
        <input matInput type="email" placeholder="Email" name="email" formControlName="email">
    </mat-form-field>
    <div class="text-error" *ngIf="(submited || inviteFormData.controls.email.touched) && inviteFormData.controls.email.errors">
        <div *ngIf="inviteFormData.controls.email.errors.required">
            <small>En epost-adress måste fyllas i</small>
        </div>
        <div *ngIf="!inviteFormData.controls.email.errors.required && inviteFormData.controls.email.errors.invalidEmail">
            <small>Fyll i en riktig epost-adress</small>
        </div>
    </div>
    <div class="mt-10">
        <mat-checkbox name="company" formControlName="company">
            <label>+1</label>
        </mat-checkbox>
    </div>
    <div class="mt-10">
        <mat-radio-group formControlName="food">
            <mat-radio-button value="fisk" class="mr-10">
                <span>Fisk</span>
            </mat-radio-button>
            <mat-radio-button value="kött" class="mr-10">
                <span>Kött</span>
            </mat-radio-button>
            <mat-radio-button value="vegetariskt" class="mr-10">
                <span>Vegetariskt</span>
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="text-error" *ngIf="(submited || inviteFormData.controls.food.touched) && inviteFormData.controls.food.errors">
        <div *ngIf="inviteFormData.controls.food.errors.required">
            <small>Välj något att äta!</small>
        </div>
    </div>
    <div class="mt-10">
        <button mat-raised-button color="primary">Skicka!</button>
    </div>
</form>