/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #110011;
    color: #fff;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-flex-end {
    justify-content: flex-end;
}

.text-align-center {
    text-align: center;
}

.mw-500 {
    max-width: 500px;
}

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-10 {
    margin-top: 10px;
}
.pt-10 {
    padding-top: 10px;
}

.p-10 {
    padding: 10px;
}

.flex-grow {
    flex-grow: 2;
}

.d-block {
    display: block;
}

.w-100 {
    width: 100%;
}

.text-error {
    color: #ff3333;
}

.nav-link {
    color: #fff;
    margin-left: 10px;
    font-size: 28px;
    text-decoration: none;
}

.nav-link.active {
    text-decoration: underline;
}

.invite-link {
    color: #fff;
    font-size: 28px;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #fff;
}

.mat-checkbox-frame {
    border: 1px solid #fff;
}

.mat-radio-outer-circle {
    border: 1px solid #fff;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: #fff;
}

